<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" type="text/css" href="../bootstrap-3.3.7/css/bootstrap.min.css">
    <!-- 自定义的样式要放在bootstrap后面 -->
    <link href="../css/dashboard.css" rel="stylesheet">
    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script type="text/javascript" src="../jQuery/jquery-1.12.4.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script type="text/javascript" src="../bootstrap-3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <% include head.html %>
    <div class="container-fluid">
        <div class="row">
            <% include sidebar.html %>
            <!-- 网站主要内容存放的地方 -->
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <h1 class="page-header">问卷网站</h1>
                <div class="row">
                    <h2 class="text-center">欢迎来到问卷网站</h2>
                </div>
            </div>
        </div>
    </div>
</body>

</html>