<%#-- head元素，放置全局样式 %>

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<link rel="icon" href="images/favicon.ico" type="image/ico" />
<title>
    <%= title %>
</title>
<link rel="stylesheet" type="text/css" href="lib/bootstrap-3.3.7/css/bootstrap.min.css">

<!-- 自定义的样式要放在bootstrap后面 -->
<link href="css/dashboard.css" rel="stylesheet">

<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script type="text/javascript" src="lib/jquery-1.12.4.min.js"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script type="text/javascript" src="lib/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/base.js"></script>
<!-- 
<script type="text/javascript" src="../js/vue-2.6.11.js"></script>
<script type="text/javascript" src="../js/jquery.form.min.js"></script> 
-->