<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <% include ./components/headElements.html %>
</head>

<body>
    <% include ./components/header.html %>
    <div class="container-fluid">
        <div class="row">
            <% include ./components/sidebar.html %>
            <!-- 网站主要内容存放的地方 -->
            <div class="col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-2 main">
                <h1 class="page-header">问卷网站</h1>
                <div class="row">
                    <h2 class="text-center">欢迎来到问卷网站首页</h2>
                </div>
            </div>
        </div>
    </div>
</body>

<!-- <script type="text/javascript">
function modifyInfo() {
    if ($("#questionnaireTitle").val() == "") {
        alert("问卷标题不能为空！")
    } else if ($("#questionnaireDesc").val() == "") {
        alert("问卷描述不能为空！")
    } else {
        document.getElementById("modifyInfo").submit();
    }
}
</script> -->

</html>