<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <% include ./components/headElements.html %>
</head>

<body>
    <%# 网站头 %>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="nav toggle">
            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
        </div>
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">问卷网站</a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1" aria-expanded="false" aria-controls="navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <!-- 网站主要内容存放的地方 -->
            <div class="main">
                <h1 class="page-header text-center">欢迎来到问卷网站</h1>
                <div class="col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4">
                    <form id="addUserForm" class="form-group" method="post" action="/addUser">
                        <h3 style="color: blue;">注册</h3>
                        <div class="form-group">
                            <label for="username">用户名：</label>
                            <input id="username" type="text" name="username" class="form-control" required placeholder="不少于六个字节" minlength="6">
                        </div>
                        <div class="form-group">
                            <label for="password">密码：</label>
                            <input id="password" type="password" name="password" class="form-control" required placeholder="不少于六个字节" minlength="6">
                        </div>  
                        <div class="form-group">
                            <label for="email">邮箱：</label>
                            <input id="email" type="email" name="email" class="form-control" required>
                        </div>
                        <div style="text-align: right;">   
                            <button type="submit" class="btn btn-default">注册</button>   
                        </div>           
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

<script type="text/javascript">
    $('#addUserForm').on('submit', function(event){
        event.preventDefault();//阻止默认提交动作
        var formData = $(this).serialize();
        console.log(formData);
        $.ajax({
            url: '/addUser',
            type: 'post',
            data: formData,
            dataType: 'json',
            success: function(data){
                console.log(data);
                if (data.status === 1) {
                    alert('用户名已被占用!')
                } else if (data.status === 2) {
                    alert('邮箱已被占用!')
                } else if (data.status === 3) {
                    alert('注册成功，点击进入网站！');
                    window.location.href='/home';
                } else {
                    alert('未知错误!');
                }
            },
            error: function(){
                alert('未知错误!');
            }
        });
    });
</script>

</html>